vars:
  container_arches: [amd64, arm64]
  container_needs_git_tags: false
  current_fedora: 36
  # Key ID from https://getfedora.org/security/
  current_fedora_signing_key: 38ab71f4

repos:
  11bot:
    url: https://github.com/coreos/11bot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/11bot]

  airlock:
    url: https://github.com/coreos/airlock
    vars:
      container_file: dist/Dockerfile
      containers: [quay.io/coreos/airlock]

  afterburn:
    url: https://github.com/coreos/afterburn
    vars:
      git_repo: afterburn
      crate: afterburn
      fedora_package: rust-afterburn
      rhel8_package: rust-afterburn
      rhel9_package: rust-afterburn

  butane:
    url: https://github.com/coreos/butane
    vars:
      container_needs_git_tags: true
      containers: [quay.io/coreos/butane, quay.io/coreos/fcct]
      git_repo: butane
      quay_repo: coreos/butane
      quay_legacy_repos: [coreos/fcct]
      fedora_package: butane
      rhel8_package: butane
      macports_package: sysutils/butane

  coreos-installer:
    url: https://github.com/coreos/coreos-installer
    vars:
      containers: [quay.io/coreos/coreos-installer]
      git_repo: coreos-installer
      crate: coreos-installer
      quay_repo: coreos/coreos-installer
      fedora_package: rust-coreos-installer
      rhel8_package: coreos-installer
      rhel9_package: rust-coreos-installer

  fedora-coreos-streams:
    url: https://github.com/coreos/fedora-coreos-streams

  ignition:
    url: https://github.com/coreos/ignition
    vars:
      container_file: Dockerfile.validate
      container_needs_git_tags: true
      containers: [quay.io/coreos/ignition-validate]
      git_repo: ignition
      quay_repo: coreos/ignition-validate
      fedora_package: ignition
      rhel8_package: ignition

  ignition-config-rs:
    url: https://github.com/coreos/ignition-config-rs
    vars:
      git_repo: ignition-config-rs
      crate: ignition-config
      fedora_package: rust-ignition-config

  openssh-keys:
    url: https://github.com/coreos/openssh-keys
    vars:
      git_repo: openssh-keys
      crate: openssh-keys
      fedora_package: rust-openssh-keys

  rhcosbot:
    url: https://github.com/coreos/rhcosbot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/rhcosbot]

  ssh-key-dir:
    url: https://github.com/coreos/ssh-key-dir
    vars:
      git_repo: ssh-key-dir
      crate: ssh-key-dir
      fedora_package: rust-ssh-key-dir
      rhel9_package: rust-ssh-key-dir

  triagebot:
    url: https://github.com/coreos/triagebot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/triagebot]

  zincati:
    url: https://github.com/coreos/zincati
    vars:
      git_repo: zincati
      crate: zincati
      fedora_package: rust-zincati

templates:
  - container/container.yml
  - container/container-rebuild.yml
  - fcos/release-checklist.md
  - go/release-checklist.md
  - go/signing-ticket.sh
  - release-notes/require-release-note.yml
  - rust/release-checklist.md
