vars:
  container_arches: [amd64, arm64]
  container_needs_git_tags: false
  current_fedora: 38
  # Key ID from https://fedoraproject.org/security/
  current_fedora_signing_key: eb10b464

repos:
  11bot:
    url: https://github.com/coreos/11bot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/11bot]

  airlock:
    url: https://github.com/coreos/airlock
    vars:
      container_file: dist/Dockerfile
      containers: [quay.io/coreos/airlock]

  afterburn:
    url: https://github.com/coreos/afterburn
    vars:
      git_repo: afterburn
      crate: afterburn
      fedora_package: rust-afterburn
      rhel8_package: rust-afterburn
      rhel9_package: rust-afterburn

  bootupd:
    url: https://github.com/coreos/bootupd
    vars:
      git_repo: bootupd
      crate: bootupd
      fedora_package: rust-bootupd
      rhel8_package: rust-bootupd
      rhel9_package: rust-bootupd

  butane:
    url: https://github.com/coreos/butane
    vars:
      container_needs_git_tags: true
      containers: [quay.io/coreos/butane, quay.io/coreos/fcct]
      git_repo: butane
      quay_repo: coreos/butane
      quay_legacy_repos: [coreos/fcct]
      fedora_package: butane
      rhel8_package: butane

  cap-std-ext:
    url: https://github.com/coreos/cap-std-ext
    vars:
      git_repo: cap-std-ext
      crate: cap-std-ext

  console-login-helper-messages:
    url: https://github.com/coreos/console-login-helper-messages
    vars:
      git_repo: console-login-helper-messages

  coreos-installer:
    url: https://github.com/coreos/coreos-installer
    vars:
      containers: [quay.io/coreos/coreos-installer]
      git_repo: coreos-installer
      crate: coreos-installer
      quay_repo: coreos/coreos-installer
      fedora_package: rust-coreos-installer
      rhel8_package: coreos-installer
      rhel9_package: rust-coreos-installer

  coreos-installer-dracut:
    url: https://github.com/coreos/coreos-installer-dracut
    vars:
      git_repo: coreos-installer-dracut

  envsubst-rs:
    url: https://github.com/coreos/envsubst-rs
    vars:
      git_repo: envsubst-rs
      crate: envsubst
      fedora_package: rust-envsubst

  fedora-coreos-cincinnati:
    url: https://github.com/coreos/fedora-coreos-cincinnati
    vars:
      git_repo: fedora-coreos-cincinnati

  fedora-coreos-config:
    url: https://github.com/coreos/fedora-coreos-config
    vars:
      git_repo: fedora-coreos-config

  fedora-coreos-stream-generator:
    url: https://github.com/coreos/fedora-coreos-stream-generator
    vars:
      git_repo: fedora-coreos-stream-generator

  fedora-coreos-streams:
    url: https://github.com/coreos/fedora-coreos-streams

  go-semver:
    url: https://github.com/coreos/go-semver
    vars:
      git_repo: go-semver

  go-systemd:
    url: https://github.com/coreos/go-systemd
    vars:
      git_repo: go-systemd

  ign-converter:
    url: https://github.com/coreos/ign-converter
    vars:
      git_repo: ign-converter

  ignition:
    url: https://github.com/coreos/ignition
    vars:
      container_file: Dockerfile.validate
      container_needs_git_tags: true
      containers: [quay.io/coreos/ignition-validate]
      git_repo: ignition
      quay_repo: coreos/ignition-validate
      fedora_package: ignition
      rhel8_package: ignition

  ignition-config-rs:
    url: https://github.com/coreos/ignition-config-rs
    vars:
      git_repo: ignition-config-rs
      crate: ignition-config
      fedora_package: rust-ignition-config

  liboverdrop-rs:
    url: https://github.com/coreos/liboverdrop-rs
    vars:
      git_repo: liboverdrop-rs
      crate: liboverdrop
      fedora_package: rust-liboverdrop

  openat-ext:
    url: https://github.com/coreos/openat-ext
    vars:
      git_repo: openat-ext
      crate: openat-ext
      fedora_package: rust-openat-ext

  openssh-keys:
    url: https://github.com/coreos/openssh-keys
    vars:
      git_repo: openssh-keys
      crate: openssh-keys
      fedora_package: rust-openssh-keys

  repo-templates:
    url: https://github.com/coreos/repo-templates
    vars:
      git_repo: repo-templates

  rhcosbot:
    url: https://github.com/coreos/rhcosbot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/rhcosbot]

  ssh-key-dir:
    url: https://github.com/coreos/ssh-key-dir
    vars:
      git_repo: ssh-key-dir
      crate: ssh-key-dir
      fedora_package: rust-ssh-key-dir
      rhel9_package: rust-ssh-key-dir

  stream-metadata-go:
    url: https://github.com/coreos/stream-metadata-go
    vars:
      git_repo: stream-metadata-go

  stream-metadata-rust:
    url: https://github.com/coreos/stream-metadata-rust
    vars:
      git_repo: stream-metadata-rust
      crate: coreos-stream-metadata

  triagebot:
    url: https://github.com/coreos/triagebot
    vars:
      container_arches: [amd64]
      containers: [quay.io/coreos/triagebot]

  vcontext:
    url: https://github.com/coreos/vcontext
    vars:
      git_repo: vcontext

  vmw_backdoor-rs:
    url: https://github.com/coreos/vmw_backdoor-rs
    vars:
      git_repo: vmw_backdoor-rs
      crate: vmw_backdoor
      fedora_package: rust-vmw_backdoor

  zincati:
    url: https://github.com/coreos/zincati
    vars:
      git_repo: zincati
      crate: zincati
      fedora_package: rust-zincati

templates:
  - container/container.yml
  - container/container-rebuild.yml
  - copr/Makefile
  - dependabot/dependabot.yml
  - fcos/release-checklist.md
  - go/release-checklist.md
  - go/signing-ticket.sh
  - release-notes/require-release-note.yml
  - rust/release-checklist.md
  - rust/rpm-test.yml
  - rust/tests.yml
  - shellcheck/script.sh
  - shellcheck/workflow.yml
